#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 5
#define SCROLL 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&lt {
    quick-tap-ms = <300>;
    flavor = "balanced";
};

/ {
    combos {
        compatible = "zmk,combos";

        layer4_ESC {
            bindings = <&lt 4 ESC>;
            key-positions = <39 38>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        scroll_up_down: mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>;
        };

        scroll_right_left: mouse_wheel_right_left {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q                 &kp W             &kp E                   &kp R        &kp T                                         &kp Y        &kp U  &kp I      &kp O    &kp P
&mt LEFT_CONTROL A    &mt LEFT_SHIFT S  &kp D                   &kp F        &kp G                          &trans         &kp H        &kp J  &kp K      &kp L    &mt RIGHT_SHIFT SEMICOLON
&mt LEFT_SHIFT Z      &kp X             &kp C                   &kp V        &lt 6 B    &mkp MB1            &trans         &kp N        &kp M  &kp COMMA  &kp DOT  &mt RIGHT_CONTROL SLASH
&mt LEFT_SHIFT LANG2  &kp LC(LEFT_ALT)  &mt LEFT_COMMAND LANG2  &lt 3 SPACE  &lt 5 ESC  &mt LEFT_ALT TAB    &kp BACKSPACE  &lt 4 ENTER                             &mt RIGHT_SHIFT LANG1
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        ANDROID {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;

            sensor-bindings = <&scroll_right_left>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans    &trans  &trans    &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans    &trans  &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &mkp MB1  &mo 6   &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                              &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        NUMBER {
            bindings = <
&kp CARET             &kp EXCLAMATION          &kp AMPERSAND     &kp PIPE           &kp DOLLAR                      &kp AT_SIGN        &kp EQUAL     &kp PLUS      &kp ASTERISK  &kp PERCENT
&kp NUMBER_1          &mt LEFT_SHIFT NUMBER_2  &kp NUMBER_3      &kp NUMBER_4       &kp NUMBER_5            &trans  &kp NUMBER_6       &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
&mt LEFT_SHIFT MINUS  &kp GRAVE                &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp TILDE     &trans    &trans  &kp BACKSLASH      &kp GRAVE     &trans        &trans        &trans
&trans                &trans                   &trans            &trans             &trans        &trans    &trans  &kp RIGHT_COMMAND                                            &kp RIGHT_CONTROL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        SYMBOL {
            bindings = <
&kp CARET               &kp EXCLAMATION              &kp AMPERSAND      &kp PIPE              &kp DOLLAR                                    &kp AT_SIGN         &kp EQUAL            &kp PLUS         &kp ASTERISK     &kp PERCENT
&mt LEFT_CONTROL MINUS  &mt LEFT_SHIFT LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS            &trans       &kp LEFT_ARROW      &kp DOWN             &kp UP_ARROW     &kp RIGHT_ARROW  &kp SINGLE_QUOTE
&mt LEFT_SHIFT MINUS    &kp HASH                     &kp BACKSLASH      &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans    &bootloader  &kp LG(LEFT_ARROW)  &kp LG(RIGHT_ARROW)  &kp LC(LS(TAB))  &kp LC(TAB)      &kp DOUBLE_QUOTES
&kp LEFT_ALT            &trans                       &trans             &trans                &trans                 &trans    &trans       &trans                                                                     &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        SPECIAL {
            bindings = <
&trans  &trans    &trans    &trans    &trans                    &trans  &trans    &trans    &trans    &trans
&trans  &mkp MB3  &mkp MB2  &mkp MB1  &trans            &trans  &trans  &mkp MB1  &mkp MB2  &mkp MB3  &trans
&trans  &trans    &trans    &trans    &trans  &trans    &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans    &trans    &trans    &trans  &trans    &trans  &trans                                &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };
    };
};
